<div class="amd-lms-user-dash-mobile-overlay" id="amd-lms-mobile-overlay"></div>

<div class="amd-lms-search-overlay" id="amd-lms-search-overlay">
    <div class="amd-lms-search-container">
        <button id="amd-lms-search-close-btn">&times;</button>
        <input type="search" id="amd-lms-search-input" placeholder="Search for courses, assignments, etc...">
    </div>
</div>

{{{ jsfiles }}} 
<!-- AMD modules and user-dash.js will be loaded via $PAGE->requires->js_call_amd -->
