<nav class="amd-lms-user-dash-sidebar">

    <!-- HEADER -->
    <div class="amd-lms-user-dash-sidebar-header">
        <a href="{{config.wwwroot}}/?redirect=0" class="amd-lms-user-dash-logo" target="_blank">
            <span>LMS</span>
        </a>

        <button class="amd-lms-user-dash-sidebar-toggle d-lg-flex"
                id="amd-lms-desktop-toggle-btn"
                type="button">
            <i class="bi bi-chevron-left"></i>
        </button>
    </div>

    <!-- MAIN MENU -->
    <ul class="amd-lms-user-dash-nav-list list-unstyled">

        <!-- DASHBOARD -->
        <li class="amd-lms-user-dash-nav-item {{#active.dashboard}}active{{/active.dashboard}}">
            <a href="{{config.wwwroot}}/theme/mytheme/layout/dashboard.php">
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- COURSES -->
        <li class="amd-lms-user-dash-nav-item {{#active.courses}}active{{/active.courses}}">
            <a href="{{config.wwwroot}}/theme/mytheme/pages/enrollcourse.php">
                <i class="bi bi-calendar-week"></i>
                <span>Course Lists</span>
            </a>
        </li>

        <!-- CERTIFICATES -->
        <li class="amd-lms-user-dash-nav-item {{#active.certificates}}active{{/active.certificates}}">
            <a href="{{config.wwwroot}}/theme/mytheme/pages/certificates.php">
                <i class="bi bi-patch-check"></i>
                <span>Certificates</span>
            </a>
        </li>

        <!-- MESSAGES -->
        <li class="amd-lms-user-dash-nav-item {{#active.messages}}active{{/active.messages}}">
            <a href="{{messages_url}}">
                <i class="bi bi-chat-left-text"></i>
                <span>
                    Messages
                    <span class="badge rounded-pill bg-primary">30</span>
                </span>
            </a>
        </li>

    </ul>

    <!-- FOOTER -->
    <ul class="amd-lms-user-dash-nav-list list-unstyled mt-auto">

        <li class="amd-lms-user-dash-nav-item">
            <a href="{{logout_url}}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>

</nav>