<div class="alert alert-info">
    <i class="bi bi-info-circle me-2"></i>
    This is a {{othertype}} activity.
    <a href="{{otherurl}}" class="alert-link" target="_blank">Click here to view it</a>.
</div>