<div class="amd-module-forum">
    {{#forumintro}}<div class="mb-3">{{{forumintro}}}</div>{{/forumintro}}
    <div style="width:100%;height:82vh;">
        <iframe src="{{forumurl}}" style="width:100%;height:100%;border:none;"></iframe>
    </div>
</div>