<div class="amd-module-h5p">
    {{#h5pintro}}<div class="mb-3">{{{h5pintro}}}</div>{{/h5pintro}}
    <div style="width:100%;height:82vh;">
        <iframe src="{{h5purl}}" style="width:100%;height:100%;border:none;"
            allowfullscreen
            allow="autoplay; fullscreen; microphone; camera"></iframe>
    </div>
</div>