<div class="amd-module-resource">
    {{#resourceintro}}<div class="mb-3">{{{resourceintro}}}</div>{{/resourceintro}}
    {{#ispdf}}
    <iframe src="{{fileurl}}" style="width:100%;height:80vh;border:none;"></iframe>
    {{/ispdf}}
    {{#isimage}}
    <img src="{{fileurl}}" alt="{{filename}}" class="img-fluid rounded">
    {{/isimage}}
    {{#isvideo}}
    <video controls style="width:100%"><source src="{{fileurl}}"></video>
    {{/isvideo}}
    {{#isaudio}}
    <audio controls style="width:100%"><source src="{{fileurl}}"></audio>
    {{/isaudio}}
    {{#isdownload}}
    <a href="{{fileurl}}" class="amd-lms-btn-register" target="_blank">
        <i class="bi bi-download me-2"></i> Download: {{filename}}
    </a>
    {{/isdownload}}
</div>