



    <footer class="amd-lms-footer">
        <!-- The top card that overlaps the black section -->
        <div class="amd-lms-footer-promo-card">
            <div class="amd-lms-footer-promo-card__content">
                   <h1>{{jumbotron.heading}}</h1>
                    <p>{{jumbotron.desc}}</p>
            </div>
        </div>

        <!-- The main black footer area -->
        <div class="amd-lms-footer-main">
            <div class="amd-lms-footer-container">
                <!-- Top section with columns -->
                <div class="amd-lms-footer-main__top-grid">
                    <div class="amd-lms-footer-main__column">
                        <h2>Opening Hours</h2>
                        <ul>
                            <li class="border-bottom pb-3"><a href="#"><i class="fa-solid fa-clock mx-1"></i>{{footer.opening_weekdays}}</a></li>
                            <li>
                                 <a href="#">{{footer.opening_weekends}}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="amd-lms-footer-main__column">
                        <h2>Contact Us</h2>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-location mx-1"></i>{{footer.address}} 
                                </a>
                            </li>
                            <li>
                            <a href="#"><i class="fa-solid fa-phone mx-1"></i>

                            {{footer.phoneno}}
                                  
                                  </a>
                                  </li>

                            <li>
                                <i class="fas fa-envelope-open mx-1"></i>
                                <a href="mailto:{{footer.footeremail}}" class="contact-link">
                                {{footer.footeremail}} 
                                </a>
                            </li>
                        </ul>
                    </div>


                <div class="amd-lms-footer-main__column">
                    <h2>Supported By</h2>
                    <!-- Supported Logos Loop -->
                    <div class="amd-lms-topbar-social d-flex align-items-center gap-3">
                        {{#footer.supported_logos}}
                               <img src="{{image}}" alt="">
                            <img src="" alt="">
                        {{/footer.supported_logos}}

                        {{^footer.supported_logos}}

                        {{/footer.supported_logos}}
                    </div>
                </div>

                </div>


                <!-- Bottom copyright section -->
                <div class="amd-lms-footer-main__bottom border-top">
                    <div class="d-flex align-items-center justify-content-center gap-3 text-center">
                        <img src="{{footer.footerlogo}}" alt="amd-logo"
                            class="amd-lms-footer-main__logo">

                  <p class="mb-0">
                    Powered By :
                    {{#footer.poweredby_name}}
                        <a href="{{footer.poweredby_url}}" class="text-decoration-none text-white">
                        {{footer.poweredby_name}}
                        </a>
                    {{/footer.poweredby_name}}

                    {{^footer.poweredby_name}}
                        <a href="{{footer.poweredby_url}}" class="text-decoration-none text-white">
                        A.M.D. Soft and Services Pvt. Ltd.
                        </a>
                    {{/footer.poweredby_name}}
                    </p>
                    </div>
                    <p>{{footer.footercopyright}}  © {{{year}}} All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>