
{{#ispage}}
    {{> theme_mytheme/modules/page}}
{{/ispage}}

{{#isresource}}
{{> theme_mytheme/modules/resource}}
{{/isresource}}

{{#isurlmod}}
{{> theme_mytheme/modules/url}}
{{/isurlmod}}

{{#isquiz}}
{{> theme_mytheme/modules/quiz}}
{{/isquiz}}

{{#isbook}}
{{> theme_mytheme/modules/book}}
{{/isbook}}

{{#isscorm}}
{{> theme_mytheme/modules/scorm}}
{{/isscorm}}

{{#isforum}}
{{> theme_mytheme/modules/forum}}
{{/isforum}}

{{#isfolder}}
{{> theme_mytheme/modules/folder}}
{{/isfolder}}

{{#ish5p}}
{{> theme_mytheme/modules/h5p}}
{{/ish5p}}

{{#iscustomcert}}
{{> theme_mytheme/modules/customcert}}
{{/iscustomcert}}

{{#islabel}}
{{> theme_mytheme/modules/label}}
{{/islabel}}

{{#isother}}
{{> theme_mytheme/modules/default}}
{{/isother}}
