<div class="amd-lms-user-dash-main-wrapper">
    {{> theme_mytheme/dashboard/main/sidebar }}
    
    <div class="amd-lms-user-dash-main-container">
        {{> theme_mytheme/dashboard/main/header }}
        
        {{> theme_mytheme/dashboard/main/main }}
    </div>
    
    {{> theme_mytheme/dashboard/main/footer }}
</div>
